<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <title>Лабораторные работы</title>

    <meta name="description" content="Лабораторные работы">
    <meta name="author" content="Александр Павлов">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-left">
                Привет! Выбери курс
            </h3>
            <ol>
                {% for course in courses %}
                <li><a href="{{course.url}}">{{course.name}}</a></li>
                {% endfor %}
            </ol>
            <h3>Мои контактные данные</h3>
            <p><i class="fas fa-user"></i>&nbsp;Павлов Александр Сергеевич</p>
            <p><i class="fas fa-envelope"></i>&nbsp;<a href="mailto:lup.mail@gmail.com">lup.mail@gmail.com</a></p>
            <p><i class="fas fa-phone"></i>&nbsp;<a href="tel:+79264240454">+7926 424-04-54</a></p>
            <p><i class="fab fa-whatsapp"></i>&nbsp;<a href="https://api.whatsapp.com/send?phone=79264240454">+7926 424-04-54</a></p>
            <p><i class="fab fa-telegram"></i>&nbsp;<a href="https://t.me/lup00">@lup00</a></p>
            <p><i class="fab fa-vk"></i>&nbsp;<a href="https://vk.com/id86202805">https://vk.com/id86202805</a></p>
            <p><i class="fab fa-facebook"></i>&nbsp;<a href="https://www.facebook.com/lup.mail">https://www.facebook.com/lup.mail</a></p>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-110057493-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>