<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Ответы на лабораторную работу</title>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=AM_CHTML"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <a href="/{{course}}/">К списку лабораторных работ</a><br>
            <a href="/{{course}}/{{labCode}}/{{variant}}/">Посмотреть задание на лабораторную работу</a>
        </div>
        <div class="row">
            <h1>Ответы к лабораторной работе "{{lab}}"</h1>
            <h3>Вариант: {{variant}}</h3>
        </div>
        {% for answer in answers %}
        <div class="row">
            <div class="col-md-12">
                {% if isMultiple %}
                <p><b>{{answer.code}}</b>.</p>
                <p>{{answer.text}}</p>
                {% else %}
                {{answer.text}}
                {% endif %}
            </div>
        </div>
        <div class="row debug">
            <div class="col-md-12">
                <pre><code>{{answer.debug}}</code></pre>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-110057493-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>