<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Лабораторные работы</title>

    <meta name="description" content="Лабораторные работы">
    <meta name="author" content="Александр Павлов">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">
                Привет! <span class="small">Укажи вариант, а потом выбери лабораторную работу</span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {%if feedbackUrl %}
            <a class="btn btn-success btn-lg btn-lg" href="{{feedbackUrl}}">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Отправить результаты выполнения работы
            </a>
            {% endif %}

            {% if variant %}
            <p class="help-block">
                Текущий вариант: {{variant}}
            </p>
            {% endif %}
            <form role="form" action="/setVariant/{{course}}/" method="get" class="form-group variant-form">
                <div class="form-group">
                    <label for="groupCode">Код группы</label>
                    <input type="text" class="form-control" id="groupCode" name="groupCode"/>
                </div>
                <div class="form-group">
                    <label for="studentCode">Твой код</label>
                    <input type="text" class="form-control" id="studentCode" name="studentCode"/>
                </div>
                <button type="submit" class="btn btn-default">Применить</button>
            </form>

            {% if files %}
            <h3>Материалы для выполнения лабораторных работ</h3>
            <ol>
                {% for file in files %}
                <li><a href="{{file.url}}" target="_blank">{{file.name}}</a></li>
                {% endfor %}
            </ol>
            {% endif %}

            {% if interactive %}
            <h3>Интерактивные лабораторные работы</h3>
            <ol>
                {% for data in interactive %}
                <li>{{data.name}}:
                    {% if data.matlab %}
                    <a href="{{data.matlab}}" target="_blank">Matlab</a>,
                    {% endif %}
                    {% if data.matlab_old %}
                    <a href="{{data.matlab_old}}" target="_blank">Старый Matlab (не интерактивный)</a>,
                    {% endif %}
                    {% if data.python %}
                    <a href="{{data.python}}" target="_blank">Python</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
            {% endif %}

            {% if gradebooks %}
            <h3>Журналы успеваемости</h3>
            <ol>
                {% for gradebook in gradebooks %}
                <li><a href="{{gradebook.url}}" target="_blank">{{gradebook.group}}</a></li>
                {% endfor %}
            </ol>
            {% endif %}
            <h3>Задания к лабораторным работам</h3>
            <ol>
                {% for lab in labs %}
                    {% if variant %}
                        <li><a href="{{lab.url}}">{{lab.name}}</a> ({{lab.maxValue}} баллов)</li>
                    {% else %}
                        <li><span class="text-muted">{{lab.name}}</span> ({{lab.maxValue}} баллов)</li>
                    {% endif %}
                {% endfor %}
            </ol>
            <h3>Вопросы к лабораторным работам</h3>
            <ol>
                {% for question in questions %}
                <li><a href="{{question.url}}">{{question.name}}</a></li>
                {% endfor %}
            </ol>
            <p>
                <a class="btn btn-warning btn-lg btn-lg" href="/exam/{{course}}/">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Зачет/экзамен
                </a>
            </p>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-110057493-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>