<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Вопросы по лабораторной работу</title>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=AM_CHTML"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    {% if isExam %}
        <div class="row">
            <a href="/{{course}}/">К странице курса</a><br>
        </div>
        <div class="row">
            <h1>Вопросы к зачету/экзамену по курсу "Вычислительная математика"</h1>
        </div>
    {% else %}
        <div class="row">
            <a href="/{{course}}/">К списку лабораторных работ</a><br>
        </div>
        <div class="row">
            <h1>Вопросы к лабораторной работе "{{lab}}"</h1>
        </div>
    {% endif %}
    {% if questions %}
    <form role="form" action="{% if isExam %}/exam/{{course}}/{% else %}/questions/{{course}}/{{labCode}}/{% endif %}"
          method="post">
        {% for question in questions %}
        <div class="row">
            <div class="col-md-12">
                <p>{{loop.index}}. {{question.text}}</p>
                <div class="form-group">
                    {% for answer in question.answers %}
                    <div class="radio">
                        <label><input type="radio" value="{{loop.index-1}}" name="question[{{loop.parent.loop.index-1}}]">{{answer}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if isExam %}
            {% for code in questionCodes %}
                <input type="hidden" name="questionCode[]" value="{{code}}">
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Проверить</button>
                </div>
            </div>
        </div>
    </form>
    {% else %}
    <p>Извини, но вопросов пока нет, они еще в работе</p>
    {% endif %}
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-110057493-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>