<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Вопросы по лабораторной работу</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <p class="bg-info">Отвечено верно: {{result.correct}} из {{result.total}}</p>
    </div>
    {% if isExam %}
    <div class="row">
        <a href="/exam/{{course}}/">Попробовать еще раз</a>
    </div>
    {% else %}
    <div class="row">
        <a href="/{{course}}/">К списку лабораторных работ</a><br>
    </div>
    <div class="row">
        <a href="/questions/{{course}}/{{labCode}}/">К списку вопросов</a>
    </div>
    {% endif %}
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-110057493-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>